<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="ListenUrl" value="http://*:8080/" />
    <add key="HealthResponseContentType" value="application/json"/>
    <!-- {status:"<%=status%>",server:"<%=host%>",uptimeseconds:"<%=uptime%>"} -->
    <add key="HealthResponseFormatString" value="%7Bstatus%3A%22%3C%25%3Dstatus%25%3E%22%2Cserver%3A%22%3C%25%3Dhost%25%3E%22%2Cuptimeseconds%3A%22%3C%25%3Duptime%25%3E%22%7D"/>
    <add key="HealthResponseUpStatusString" value="Healthy"/>
    <add key="HealthResponseDownStatusString" value="OOR"/>
    <add key="UseWindowsAuth" value="false"/>
    <!-- Anything less than 60 seconds will turn off the audit timer. -->
    <add key="AuditTimerInSeconds" value="3600"/>
    <add key="AuditEmailToAddress" value=""/>
    <add key="AuditEmailFromAddress" value=""/>
    <add key="MailgunUrl" value=""/>
    <add key="MailgunApiKey" value=""/>
    <add key="SendMailOnAuditFailure" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="fileaudit" connectionString="mongodb://localhost:27017/FileAuditManager?ssl=false" />
  </connectionStrings>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="FileAuditManager" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RequestLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\logs\requests.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <logger name="RequestLog" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RequestLogAppender" />
    </logger>
    <root additivity="false">
      <level value="INFO" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>